
body {
    position: relative;
}


.marker-input {
    padding: 15px;
    background-color: white;
    position: absolute;
    width: 300px;
    display: none;
    flex-direction: row;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}

#marker-text-input {
    padding: 5px;
    width: 200px;
    line-height: 20px;
}

#marker-btn-input {
}
